In [107]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split

In [108]:
# Replace the path with the correct path for your data.
safe_driver = pd.read_excel(
    'IT_3.xlsx')

In [109]:
safe_driver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30240 entries, 0 to 30239
Data columns (total 17 columns):
ID                              30240 non-null int64
target                          30240 non-null int64
Gender                          30240 non-null object
EngineHP                        30240 non-null int64
credit_history                  30240 non-null int64
Years_Experience                30240 non-null int64
annual_claims                   30240 non-null int64
Marital_Status                  30240 non-null object
Vehicle_Type                    30240 non-null object
Miles_driven_annually           30232 non-null float64
size_of_family                  30240 non-null int64
Age_bucket                      30240 non-null object
EngineHP_bucket                 30240 non-null object
Years_Experience_bucket         30240 non-null object
Miles_driven_annually_bucket    30232 non-null object
credit_history_bucket           30240 non-null object
State                           30240 non-null object
dtypes: float64(1), int64(7), object(9)
memory usage: 3.9+ MB

In [110]:
categorical = safe_driver.select_dtypes(include=['object'])
for i in categorical:
    column = categorical[i]
    print(i)
    print(column.nunique())

Gender
2
Marital_Status
2
Vehicle_Type
4
Age_bucket
5
EngineHP_bucket
4
Years_Experience_bucket
5
Miles_driven_annually_bucket
3
credit_history_bucket
5
State
50

In [111]:
# Drop other columns with many unique variables
safe_driver.drop(['Age_bucket', 'EngineHP_bucket', 'Years_Experience_bucket', \
            'Miles_driven_annually_bucket'], 1, inplace=True)

In [112]:
safe_driver.tail(5)

,ID,target,Gender,EngineHP,credit_history,Years_Experience,annual_claims,Marital_Status,Vehicle_Type,Miles_driven_annually,size_of_family,credit_history_bucket,State
30235,30236,1,F,398,491,6,3,Single,Truck,14509.0,2,Very Poor,VT
30236,30237,0,M,128,745,22,4,Single,Utility,8597.0,6,Very Good,OK
30237,30238,0,M,89,523,4,1,Married,Truck,49747.0,2,Very Poor,NY
30238,30239,1,F,129,703,14,1,Married,Truck,7553.0,1,Good,NJ
30239,30240,1,M,167,830,6,2,Married,Truck,23249.0,3,Exceptional,SD

In [113]:
X = safe_driver.drop('target', 1)
y = safe_driver['target']
X = pd.get_dummies(X)
X = X.dropna(axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [114]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit on training set only.
scaler.fit(X_train)
# Apply transform to both the training set and the test set.
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

/usr/local/lib/python3.7/site-packages/sklearn/preprocessing/data.py:625: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:7: DataConversionWarning: Data with input dtype uint8, int64 were all converted to float64 by StandardScaler.
  import sys

In [115]:
from sklearn.decomposition import PCA
# Make an instance of the Model
pca = PCA(.95)

In [116]:
pca.fit(X_train)

X_train = pca.transform(X_train)
X_test = pca.transform(X_test)

from sklearn.linear_model import LogisticRegression

logisticRegr = LogisticRegression()

logisticRegr.fit(X_train, y_train)

# Predict for One Observation
predict_lbl = logisticRegr.predict(X_test[72].reshape(1,-1))

print('Prediction with one observation = ', predict_lbl)
# Predict for One Observation
predict_lbl_2 = logisticRegr.predict(X_test[81:90])
print('Prediction with multiple observation = ', predict_lbl_2)

logisticRegr.score(X_test, y_test)

/usr/local/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

Prediction with one observation =  [1]
Prediction with multiple observation =  [1 1 1 1 1 1 1 1 1]

0.7102204408817635

In [117]:
print(pca.explained_variance_ratio_)

[0.05364236 0.03756255 0.02851454 0.02318921 0.0210552  0.01894562
 0.01736303 0.01708604 0.01655975 0.01579959 0.01561168 0.01532788
 0.0152475  0.01505491 0.01496176 0.01482373 0.0146818  0.01465773
 0.01463959 0.01463285 0.01462589 0.01462461 0.01462342 0.01462171
 0.01462044 0.01461962 0.01461784 0.01461714 0.0146156  0.01461442
 0.01461277 0.01461199 0.01460976 0.01460959 0.01460947 0.01460892
 0.01460822 0.01460802 0.01460722 0.01460618 0.01460494 0.01460424
 0.01460345 0.01460297 0.01460161 0.01459999 0.01459906 0.0145981
 0.0145965  0.01458145 0.01457639 0.0145672  0.01454778 0.01449781
 0.01446979 0.01415205 0.01373416 0.01364222]